div.FormRenders fieldset{
    border: 1px solid rgba(224, 212, 212, 0.651);
    max-width: 200px;
    border-radius: 15px;
}
.searchTerm li{
    cursor: pointer;
}
.FormRenders div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}
.eleInput{
    margin: 1rem 1.5rem;
}
.FormRenders{
    position: relative;
    margin: 2rem 0;
}
input{
    border:1px solid rgba(24, 6, 6, 0.253) ;
    padding: 10px 15px;
    border-radius: 5px;
}

.fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FormRenders .searchTerm{
    position: absolute;
    background-color: white;
    width: 70%;
    left: 15%;
    top: 50%;
    z-index: 100;
    border: 1px solid rgba(194, 168, 168, 0.192);
}

.searchTerm ul{
    list-style: none;
    padding: 0;
}
.searchTerm ul li {
    padding: 0;
}
.deleteElement{
    width: fit-content;
    position: absolute;
    top:10px;
    right: 10px;
    opacity: 50%;
}