form.ProductForms fieldset{
    border: 1px solid rgb(230, 225, 225);
    
}
.ProductForms p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.FormRenders{
    position: relative;
}
.fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.FormRenders .searchTerm{
    position: absolute;
    background-color: white;
    width: 85%;
    left: 15px;
    top: 50%;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

.searchTerm ul{
    list-style: none;
    padding: 0;
}
.searchTerm ul li {
    padding: 0;
}